<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Learn</title>

  <environment include="Development">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> *@
  </environment>
  <environment exclude="Development">
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
      crossorigin="anonymous"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/> *@
  </environment>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <!-- Bootstrap core CSS -->
  <link href="~/css/bootstrap.css" rel="stylesheet" />
  <!-- Material Design Bootstrap & SCSS -->
  @* <link href="~/css/mdb.css" rel="stylesheet" /> *@
  <link href="~/css/mdb.min.css" rel="stylesheet" />
  <link href="~/css/style.min.css" rel="stylesheet" />
  <link href="~/scss/mdb.scss" />
  <link href="~/scss/style.scss" />
  @* <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> *@
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <!-- Your custom styles (optional) -->
  @* <link href="~/css/style.min.css" rel="stylesheet" /> *@
</head>

<body>
  <header>
    <nav
    class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark navback scrolling-navbar box-shadow mb-5">
      <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Learn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
          <ul class="navbar-nav mr-auto flex-grow-1 align-items-center">
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-indigo btn-sm dropdown-toggle" type="button" id="dropdownFractions"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fractions
                </button>
                <div class="dropdown-menu">
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle dropright" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Division</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DivideLevelOne">Level 1</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DivideLevelTwo">Level 2</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DivideLevelThree">Level
                        3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Exam</a>
                    </div>
                  </div>
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle dropright" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Multiplication</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MultiplyLevelOne">Level
                        1</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MultiplyLevelTwo">Level
                        2</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="MultiplyLevelThree">Level
                        3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Exam</a>
                    </div>
                  </div>
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle dropright" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Addition</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AddLevelOne">Level 1</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AddLevelTwo">Level 2</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AddLevelThree">Level 3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Exam</a>
                    </div>
                  </div>
                  <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle dropright" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Subtraction</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SubtractLevelOne">Level
                        1</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SubtractLevelTwo">Level
                        2</a>
                      <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SubtractLevelThree">Level
                        3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Exam</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <a class="text-white" id="Refresh">Refresh &nbsp;
              @* <i class="fa fa-refresh" aria-hidden="true"></i> *@
            </a>
            <a class="nav-link float-right text-white" asp-area="" asp-controller="Home" asp-action="#">Sign-in &nbsp;
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <partial name="_CookieConsentPartial" />
    @* <div class="row">
      <div class="col-sm-1 d-xlg-none"></div>
      <div class="col-sm-3 justify-content-end mt-4 verticalLine">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla repellat optio voluptate id. Quia sit iste unde
      ratione non neque at, consectetur quos minima doloremque dicta sunt molestias necessitatibus porro?</p>

      </div>
      <div class="col-sm-6"> *@
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
    @* </div>
      <div class="col-sm-1"></div>
      </div> *@
  </div>

  @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2020 - Learn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@

  <environment include="Development">
    @* <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script> *@
    @* <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script> *@
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Initializations -->
    @* Only include the following script if you want to display code snippets... *@
    @* <script type="text/javascript" src="~/js/codeScripts.js"></script> *@
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();

    </script>
  </environment>
  <environment exclude="Development">
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
      asp-fallback-test="window.jQuery"
      crossorigin="anonymous"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
      asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
      crossorigin="anonymous"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
      </script> *@
  </environment>
  <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
  <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>

</html>
