@{
    ViewData["Title"] = "Level One";
}
@using Learn.Models
@model FractionCard[]

<div class="container">
    <h6 class="text-center instructions mt-4">Practice answering each with a reduced fraction. Tap to flip the card and see the solution.</h6>
    <div class="row justify-content-center">
        @foreach(var item in Model){
            <div class="cardContainer">
                <div class="flashCard">
                    <div class="front">
                        <p>@item.Dividend</p>
                        <p class="mx-3" style="font-size:42px">รท</p>
                        <p>@item.Divisor</p>
                    </div>
                    <div class="back mb-5">@item.Whole
                        <span class="fraction">
                            @item.Answer
                        </span>
                    </div>
                    @* <div style="font-size:16px" class="back my-5">Decimal: 1.333</div> *@
                </div>
            </div>
        }
    </div>
</div>