@{
    ViewData["Title"] = "Level Two";
}
@using Learn.Models
@model FractionCard[]

<div class="container">
    <h6 class="text-center instructions">Practice answering each with a reduced fraction. Tap to flip the card and see the solution.</h6>
    <div class="row justify-content-center">
        @foreach(var item in Model){
            <div class="cardContainer">
                <div class="flashCard" >
                    <div class="front">
                        <p>@item.Dividend</p>
                        <p class="mx-3" style="font-size:42px">รท</p>
                        <p>@item.Divisor</p>
                    </div>
                    <div class="back mb-5">@item.Whole
                        <span class="fraction">
                            @item.Answer
                        </span>
                    </div>
                    @* <div style="font-size:16px" class="back my-5">Decimal: 1.333</div> *@
                </div>
            </div>
        }
    </div>
</div>

        @* <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard wifi" >
                    <div class="front"><i class="fas fa-wifi" aria-hidden="true"></i></div>
                    <div class="back">WiFi</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard apple" >
                    <div class="front"><i class="fab fa-apple" aria-hidden="true"></i></div>
                    <div class="back">Apple</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard paypal" >
                    <div class="front"><i class="fab fa-paypal" aria-hidden="true"></i></div>
                    <div class="back">paypal</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard spotify" >
                    <div class="front"><i class="fab fa-spotify" aria-hidden="true"></i></div>
                    <div class="back">Spotify</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard camera" >
                    <div class="front"><i class="fa fa-camera" aria-hidden="true"></i></div>
                    <div class="back">Camera</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard sync" >
                    <div class="front"><i class="fas fa-sync" aria-hidden="true"></i></div>
                    <div class="back">Sync</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard amazon" >
                    <div class="front"><i class="fab fa-amazon" aria-hidden="true"></i></div>
                    <div class="back">Amazon</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard xray" >
                    <div class="front"><i class="fas fa-x-ray" aria-hidden="true"></i></div>
                    <div class="back">X-ray</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard nurse" >
                    <div class="front"><i class="fas fa-user-nurse" aria-hidden="true"></i></div>
                    <div class="back">Nurse user</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard syringe" >
                    <div class="front"><i class="fas fa-syringe" aria-hidden="true"></i></div>
                    <div class="back">Syringe</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard heartbeat" >
                    <div class="front"><i class="fas fa-heartbeat" aria-hidden="true"></i></div>
                    <div class="back">Heartbeat</div>
                </div>
            </div>
        </div>
    </div>
</div> *@
